<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet>
    <ion-content>
      <div *ngFor="let compania of companias">
        <ion-card *ngIf="compania; else sinCompania">
          <img src="../../../assets/shapes.svg" alt="shapes.svg" />
          <ion-card-header>
            <ion-card-subtitle> {{ compania.createdBy }} </ion-card-subtitle>
            <ion-card-title>{{ compania.name }}</ion-card-title>
          </ion-card-header>

          <ion-card-content> {{ compania.address }} </ion-card-content>
        </ion-card>
      </div>

      <ng-template #sinCompania>
        <ion-buttons>
          <ion-button>
            Crear Compañia
          </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-content>
  </ion-router-outlet>
</ion-content>
